@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: bold;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: bold;
  }
  h4 {
    font-size: var(--text-base);
  }
  h5 {
    font-size: var(--text-sm);
  }
  h6 {
    font-size: var(--text-xs);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}
